#map{
     height: 1800px;
     width: 75hw;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.barra-navegacion {
  background-color: #333;
  padding: 10px 0;
}

.barra-navegacion ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.barra-navegacion li {
  margin: 0 15px;
}

.barra-navegacion a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.barra-navegacion a:hover {
  text-decoration: underline;
}